/*(azul-claro=#5677fc)*/
/*(azul-escuro=#455ede)*/
/****************** cabecalho ******************/

#theme-header{}

#header {
  padding: 13px 0 0 0;/*(azul-claro)*/
  color: #fff;
  background-color: #1659c0;
}

#header>div {
  max-width: 960px;
  margin: 0 auto;
}

.header-content * {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}
.header-content li { display: inline; }

#brasilgov {
  background: #00510f;
  border-bottom: 1px solid #ffcc00;
  padding: 5px 10px;
  color: #03316f;
}

#accessibility {
    display: block !important;
    float: left;
    font-family: arial;
    font-size: 10px;
    width: 50%;
}

#accessibility a {
  color: #FFF;
  margin-right: 8px;
}
#accessibility a:hover {
  color: #d0d9ff;
}

#accessibility span {
    background: none repeat scroll 0 0 #2a36b1;
    color: #FFFFFF;
    padding: 0 4px;
}



/* logo */
#logo {
  padding: 0;
  float: left;
  width: 70%;
}

#logo span {
  display: block;
}

#logo a {
  display: block;
  width: 100%;
  color: #03316f !important;
  margin: 1em 0px;
}

#logo a, #logo #portal-title {
  color: #03316f;
}

#logo #portal-title {
  margin: 30px 0px 46px 0px;
  color: #FFF;
  font-size: 40px;
  font-family: 'Open Sans Extrabold', Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1em;
  letter-spacing: -0.05em;
}

#logo .luongo {
  font-size: 3em !important;
  line-height: 1.1em;
  margin-bottom: 0.2em;
}

#logo #portal-description {
  font-size: 1.2em;
  text-transform: uppercase;
}

/* Site Actions */
#portal-siteactions {
  display: block;
  float: right;
  clear: left;
  border-bottom: 1px dotted #d0d9ff;
  padding-bottom: 2px;
  margin-top: -15px;
  font-size: 10px;
  text-align: center;
}

#portal-siteactions a {
  color: #FFF;
  text-decoration: none;
  padding: 4px 0 4px 10px;
  text-transform: uppercase;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

#portal-siteactions a:hover {
  color: #03316f;
}

#portal-siteactions li {
  display: inline;
}

#portal-siteactions li a:hover {
  color: #d0d9ff;
}
#portal-siteactions li a {
  padding: 4px 0px;
}

#social-icons {
  float: right;
  clear: right;
  margin: 0px;
}

#social-icons ul {
  display: table-row;
}

#social-icons li {
  display: table-cell;
}

#social-icons li a {
  border: none;
  padding: 0 5px;
}

#siteaction-accessibility,
#siteaction-contraste {
  margin: 0px 15px 0px 0px;
}
/* */

/* Top links */
#theme-header .header-content #link-faq a {
    border-right: 1px solid #FFF;
    padding: 0 10px;
}
#theme-header .header-content #link-contact a {
    padding-left: 10px;
}

#theme-header #sobre {
    line-height: 20px;
   font-size: 12px;
}
/* */

/* Sobre o brasil */
#sobre {
  clear: both;
  max-width: 100% !important;
  margin: 0;
  background: #0d4094;/*azul-mais-escuro*/
  padding: 5px 0;
}

#sobre ul {
  max-width: 960px;
  margin: 0 auto;
  text-align: right;
}

#sobre a {
  color: #FFF;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

#sobre .portalservicos-item a {
  padding: 0 10px;
  border-right: 1px solid #03316f;
}

#sobre .last-item a {
  padding: 0 0 0 10px;
  border-right: none;
}

/* Searchbox */
.LSBox {
  margin: 0;
  padding: 0;
  border: none;
}

input.searchField {
  -moz-appearance: none;
}

#portal-searchbox {
  clear: right;
  float: right;
  font-size: 80%;
  margin: 30px 0 14px;
  /*margin: 3.12em 0px 3px 0px;*/
  text-align: right;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #CCCCCC;
  background: #fff;
  padding: 2px;
}

#portal-searchbox .searchField {
  padding: 0.45em;
  border-right: none;
  border: none;
  width: 170px;
}

#portal-searchbox form {
white-space: nowrap;
}

#portal-searchbox label {
font-weight: normal;
}

#searchGadget {
width: 13em;
}

#header input.searchButton {
  padding: 0.3em;
  background: transparent;
  text-indent: -2000px;
  padding: 4px 15px;
  border: none;
}

#content input.searchField {
margin-bottom: 1em;
}
input.searchField {
-moz-appearance: searchfield;
}

#header input.searchButton {
  background-image: url("images/search-button.gif");
  background-position: 8px 2px;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

#LSResult {
  z-index: 1;
  margin-top: 0.5%;
}


/* Search Button */
#search-button a {
    display: inline-block;
    width: 29px;
    height: 25px;
    margin-right: 3px;
    margin-top: 10px;
}

#search-button a:hover {
    opacity: 0.6;
}

#search-button #sb_search {
background-image: url(images/search.png);
background-size: 100% 100%;
}

#search-button span { display: none; }


/* */

/* Social Buttons */
#social-buttons a {
    width: 18px;
    height: 20px;
    margin-right: 3px;
    margin-top: 10px;
}

#social-icons li a {
    width: 20px;
    height: 20px;
    padding: 0px;
    display: inline-block;
    background-repeat: no-repeat;
}

#social-icons li {
    float: right;
    width: 20px;
    margin-left: 4px;
}

#social-icons #sb_face {
background: url(images/icone-branco-facebook.png) 0 20px;
}
#social-icons #sb_face:hover {
background: url(images/icone-branco-facebook.png);
}

#social-icons #sb_tweet {
background: url(images/icone-branco-twitter.png) 0 20px;
}
#social-icons #sb_tweet:hover {
background: url(images/icone-branco-twitter.png);
}

#social-icons #sb_youtb {
background: url(images/icone-branco-youtube.png) 0 20px;
}
#social-icons #sb_youtb:hover {
background: url(images/icone-branco-youtube.png);
}

#social-icons #sb_flickr {
background: url(images/icone-branco-flickr.png) 0 20px;
}
#social-icons #sb_flickr:hover {
background: url(images/icone-branco-flickr.png);
}

#social-icons span { display: none; }

/* FIM social Buttons */

/****************** FIM cabecalho ******************/

/************* Bar Psocial Style - Menu Horizontal**************/
#user{
  padding: 0px 2em;
  top: -30px;
  font-size: 12px;
  right: 4em;
}

.logged-in #user{
   top: -40px;
}

#user form {
    display:none;
}

#user .logged-in {
   visibility: hidden;
   display: block;
    background:url("images/barra-menu-user-bg.png") repeat-x bottom center #FEFEFE;
    display: block;
    padding: 1em;
    text-align: left;
    width: 130px;
   border-radius: 10px
}

#user .logged-in:hover {
   visibility: visible;
}
#user .logged-in a#homepage-link {
  display: block;
  visibility: visible;
}

#user .logged-in span {display: none;}

#user .logged-in a {
    display: block;
    margin-bottom: 10px;
}

#user .logged-in #pending-tasks-count {
    display: inline-block;
    left: 0;
    position: absolute;
    top: 10px;
    visibility: visible;
}

#barra-psocial {
    position: relative;
    height: 40px;
    margin: auto;
    background: url(images/barra-psocial-bg.png) repeat-x;
}

#barra-psocial li {
  float: left;
}

#assets-menu {
    background: #E8E8E8;
    top: 35px;
    left: 80px;
    min-width: 132px;
}

#assets-menu a {
    border: 1px solid #E8E8E8;
}

#categories_menu {
    /*max-width: 960px;*/
  padding: 0 1em;
    margin: auto;
}

#cat_menu {
    background: url(images/marca-participacao-social.png) no-repeat center left;
    height: 40px;
    padding-left: 60px;
}

#cat_menu li {
    list-style: none;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 20px;
    height: 100%;
    text-transform: uppercase;
}

#cat_menu li:hover {
    background-color: #E1E4E4;
}

#cat_menu li a {
    line-height: 40px;
    width: 100%;
    height: 100%;
    display: block;
}
/************* FIM Bar Psocial Style - Menu Horizontal**************/


/******************Footer - Rodapé**********************************/
#theme-footer {
    width: 100%;
}

#footer-content {
    background: #fff;
}

#footer-logos {
    background: #0d4094;
    max-width: 100%;
    padding: 2em 0;
    height: 49px;
}

#footer-logos div {
    max-width: 960px;
    margin: 0 auto;
}

#footer-logos a {
  display: block;
  height: 49px;
  float: left;
}

#footer-logos span {
  display: none;
}

#footer-logos .logo-acesso {
  background: transparent url(images/acesso-a-informacao.png) center center no-repeat;
  width: 107px;
}

#footer-logos .logo-brasil {
  background: transparent url(images/brasil.png) center center no-repeat;
  width: 153px;
}

#footer-logos .logo-sgpr {
  background: transparent url(images/sgpr.png) center center no-repeat;
  width: 187px;
  margin-right: 30px;
}

#footer-logos .institucionais {
  float: right;
}

#footer-license {
   max-width: 960px;
   margin: 0 auto;
   text-align: left;
   padding: 19px;
}

#footer-license p {
    color: #0d4094;
   text-align: left;
}


